body {
    background-color: darkred;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: antiquewhite;
    text-align: center;
}
img {
    height: 50%;
    width: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
